---
import Layout from "../layouts/Layout.astro"
import '../styles/signup.css'
import SignupForm from '../components/SignupForm';

---

<Layout>
    <div class="container">
        <h1>Sign Up</h1>
        <!-- Render the SignupForm component directly -->
        <div id="signupFormContainer">
            <SignupForm client:load/>
        </div>
    </div>
</Layout>
