/* calendar.css */

.rbc-toolbar button {
  background-color: orange;
  color: white;
  border: none;
  padding: 8px 12px;
  margin-right: 5px;
  cursor: pointer;
}

.rbc-toolbar button:hover {
  background-color: darkorange;
}


/* Custom styles for the calendar component */
.rbc-calendar {
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
}

.rbc-event {
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  padding: 2px 4px;
}

/* Add more custom styles as needed */

