/* dashboard.css */

/* Base styles */
body {
  color: #ffffff; /* White text color for better contrast */
}

.dashboard-container {
  position: relative;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #2c3e50;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
}

.user-card {
  background-color: #2c3e50;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  padding: 20px;
}

.user-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #ffffff;
}

/* Text styles */
.user-info p strong {
  color: #f9a825; /* Vibrant orange color for the titles */
}

h1 {
  font-size: 24px;
  color: white;
}

/* Button styles */
.edit-button,
.cancel-button,
.update-button,
.upload-button,
.change-password-button {
  background-color: #f9a825;
  color: #1c2a36;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.cancel-button {
  background-color: #dc3545;
}

.update-button {
  background-color: #28a745;
}

/* Input styles */
.user-info input[type="text"],
.user-info input[type="email"],
.password-input {
  width: calc(100% - 2rem);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #2c3e50;
  color: #ffffff;
}

/* Avatar styles */
.avatar-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.avatar {
  width: 100%;
  height: auto;
}

.avatar-info {
  display: flex;
  align-items: center;
}

.sign-out-button {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
}

.password-change-title {
  color: #f9a825; /* Orange color for the title */
}

/* New styles for the change password button */
.change-password-button {
  display: block;
  margin-top: 10px;
}


//tab test

/* Styling for tabs */
.tabs ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tabs ul li {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #f9a825; /* Vibrant Orange */
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  background-color: #2c3e50; /* Darker shade for tab background */
  margin-right: 5px;
  color: #ffffff; /* White text color */
}

.tabs ul li:hover {
  background-color: #34495e; /* Slightly darker shade of tab background on hover */
}

/* Style for active tab */
.tabs ul li.active {
  background-color: #ffffff; /* White background for active tab */
  border-bottom: 1px solid #ffffff; /* White bottom border for active tab */
  color: #f9a825; /* Vibrant Orange text color for active tab */
}

/* Styling for tab content */
.tab-content {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 0 0 5px 5px; /* Adjusted border radius */
  background-color:#2c3e50; /* White background for tab content */
}