/* forgotPassword.css */

.forgot-password-container {
  margin: 0 auto;
  width: 90%; /* Adjusted width */
  max-width: 400px;
  padding: 1rem; /* Reduced padding */
  background-color: #f9f6e7; /* Off-white background */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft box shadow */
}

h1 {
  margin-bottom: 1rem; /* Reduced margin */
  font-size: 2rem;
  color: #f9a825; /* Vibrant Orange */
}

input {
  width: calc(100% - 2rem); /* Adjusted width with reduced padding */
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #f9a825; /* Vibrant Orange border */
  border-radius: 4px; /* Rounded corners */
}

button {
  width: calc(100% - 2rem); /* Adjusted width with reduced padding */
  padding: 0.5rem;
  background-color: #f9a825; /* Vibrant Orange button background */
  color: #1c2a36; /* Navy Blue button text color */
  border: none;
  cursor: pointer;
  border-radius: 4px; /* Rounded corners */
}

.error-message {
  margin-bottom: 1rem;
  color: red;
}

.success-message {
  margin-bottom: 1rem;
  color: green;
}
