.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
    background-color: #f9f6e7;
    width: 100%;
    margin-top: 50px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    width: 100%;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 450px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

input {
    width: calc(100% - 20px); /* Adjusted input width to accommodate padding */
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Ensure padding doesn't affect width */
}

#signup {
    width: 100%;
    padding: 12px;
    background-color: #f9a825;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#signup:hover {
    background-color: #986717;
}

.reset-password-link {
    background-color: #f9a825;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reset-password-link:hover,
.reset-password-link:focus {
    background-color: #ffcc80;
}

.error-message {
    color: #ff0000;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #ffe6e6;
    border: 1px solid #ff4d4d;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(255, 77, 77, 0.5);
}

form p {
    margin-top: 20px;
}

@media screen and (min-width: 768px) {
    .error-message {
        margin-bottom: 30px;
    }
}
